/Rcode/digit.eps
/data/data-2-2-300-0.2-3.RData
/data/data-2-2-300-0.2-1.RData
/data/data-2-2-100-0.2-3.RData
/data/data-2-1-300-1-1.RData
/Report/sections/knn.tex.backup
/Report/main.aux
/Report/main.out
/Report/main.pdf
/Report/main.toc
/Report/main.log

#Images
.eps

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

#Ignore setworkingdir.R
/Rcode/setworkingdir.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
*.RData
/Report/main.synctex.gz
/Report/Figure/*.aux
/Report/Exercise1-group2-kerat12-miwes12.pdf
